# Arquivos compilados e objetos gerados pelo Makefile
*.o
*.out
*.exe
obj/

# O executável final do nosso projeto
puzzle_solver

# Arquivos temporários e de log
*.log
*.tmp

# Arquivos de sistema operacional (Windows/macOS)
Thumbs.db
.DS_Store

# Pastas de configurações de IDEs (VS Code, CLion, etc.)
.vscode/
.idea/